<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveCards" version="3.0.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net462" />
  <package id="Skyline.DataMiner.Dev.Automation" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Dev.Common" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Files.protobufnet" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Files.Skyline.DataMiner.Storage.Types" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Files.SLAnalyticsTypes" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Files.SLLoggerUtil" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Files.SLManagedAutomation" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Files.SLNetTypes" version="10.3.6" targetFramework="net462" />
  <package id="Skyline.DataMiner.Files.SLProtoBufLibrary" version="10.3.6" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>